:root {
  --blue-50: "#f1f3fd";
  --blue-100: "#dfe4fa";
  --blue-200: "#c6cef7";
  --blue-300: "#9eaff2";
  --blue-400: "#7085ea";
  --blue-500: "#4454e1";
  --blue-600: "#393fd7";
  --blue-700: "#3230c5";
  --blue-800: "#322da0";
  --blue-900: "#2b297f";
  --blue-950: "#201d4e";
}


